<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483285088195-ia70479h4an6o4v2qal5rcahlga3f1ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483285088195-ia70479h4an6o4v2qal5rcahlga3f1ek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>483285088195-1p0v4f6n7qh9alafacjenbrchrhee9jn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRreDkb-jIHsSS4W7YblURzJuUE9UCQCA</string>
	<key>GCM_SENDER_ID</key>
	<string>483285088195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamsoft.zefaaf</string>
	<key>PROJECT_ID</key>
	<string>zefaaf-16c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>zefaaf-16c8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483285088195:ios:0be885db241dcfab106f76</string>
</dict>
</plist>